<div class="widget-header widget-header-small  center">
    <h4 class="smaller">
        <i class="icon-ok"></i>
        {{action}} problema de saude do paciente <br/> {{paciente.nome|upper}}
    </h4>
</div>
