<div class="widget-header widget-header-small  center">
    <h4 class="smaller">
        <i class="icon-ok"></i>
        Consulta do paciente <br/> {{consulta.paciente.nome|upper}} na data {{consulta.data.format("Y-m-d")}}
    </h4>
</div>
