<ul class="submenu">
{% for e in elems %}
    <li class="disabled">
        <a id="{{e.id}}_sa" name="{{e.text}}" class="saude" num="{{e.id}}">
            <i class="icon-double-angle-right"></i>
            {{e.text}}
        </a>
    </li>
{% endfor %}
</ul>
